<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Netflix Nigeria - Watch TV shows Online, Watch Movies Online</title>
		<link rel="stylesheet" href="header.component.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.css"> 
		<script src="../../script.js"></script>
	</head>
	<body>
		<header class="center">
			<nav>
				<a class="logo" href="">
					<img src="../../assets/images/icons8-netflix-logo-200.png"  alt="">
				</a>
				<a class="signin" href="https://www.netflix.com">Sign In</a>
			</nav>
			<div class="bg">
				<section class="pitch">
					<b class="pitch-title">Unlimited movies, TV <br> shows, and more</b>
					<br>
					<b class="pitch-sub">Watch anywhere, Cancel anytime.</b>
					<br> 
					<p class="pitch-sub">Ready to watch? Enter your email to create or restart your membership.</p>
					<input id="myInput" class="email" type="email" placeholder="Email address" >
					<button onclick="checkInput()" class="btn" >
						Get Started <i class="fa fa-angle-right" ></i> 
					</button>
				</section>
			</div>
		</header>
	</body>
</html>

