<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<section class="middle">
		<div class="mid">
			<h1 class="pitch-title1">Enjoy on your TV</h1>
			<p class="pitch-sub1">Watch on Smart TVs, Playstation, Xbox, Chromecast, <br> Apple TV, Blu-ray players, and more.</p>
		</div>
		<img src="../../assets/images/en.png" alt="" class="first">
		<div class="line1"></div>
	
	
		<img src="../../assets/images/en (1).png" alt="" class="sec">
		<div class="mid2">
			<h1 class="pitch-title2">Watch everywhere</h1>
			<p class="pitch-sub2">Stream unlimited movies and TV shows on your phone, <br>tablet, laptop, and TV.</p>
		</div>
		<div class="line2"></div>
	
		<div class="mid3">
			<h1 class="pitch-title3">Create profiles for <br>kids</h1>
			<p class="pitch-sub3">Send kids on adventures with their favorite characters in a <br>space made just for them—free with your membership.</p>
		</div>
		<img src="../../assets/images/en (2).png" alt="" class="third">
		<div class="line3"></div>
	
		<img src="../../assets/images/en (3).png" alt="" class="fourth">
		<div class="mid4">
			<h1 class="pitch-title4">Download your shows <br> to watch offline</h1>
			<p class="pitch-sub4">Save your favorites easily and always have something to <br> watch.</p>
		</div>
	
	</section>
	
</body>
</html>
